#contact {
  padding: vw(75px) vw(100px);

  .section-content {
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin: vw(105px) vw(450px);
    height: rem(450px);

    &__cards {
      display: flex;
      justify-content: center;

      &__card {
        margin: vw(140px) 0;
        flex: 1;

        &.first {
          margin-right: vw(50px);
        }

        &__title-holder {
          margin-top: vw(25px);
          text-align: left;
          font-family: 'grotzec_headlinebold_cnd', sans-serif;
          text-transform: uppercase;
          font-size: rem(29.62px);
        }

        &__text-holder {
          margin-top: vw(15px);
          text-align: left;
          font-family: 'grotzec_headlinebold_cnd', sans-serif;
          font-size: rem(18.6px);

          a {
            text-decoration: none;
            color: #fff;
            transition: 0.3s;

            &:hover {
              opacity: 0.5;
            }

            &.link-social {
              margin-right: vw(15px);
            }
          }
        }

        &__button-holder {
          margin-top: vw(50px);
        }

        .separator {
          height: 2px;
          background: #fff;
          margin: 20px 0;
          width: 95px;
        }
      }
    }
  }
}
