#clients {
  padding: rem(75px) rem(100px);

  .section-content {
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin: rem(105px) rem(450px);
    height: rem(450px);
    color: #000;

    &__cards {
      display: flex;
      justify-content: center;

      &__card {
        flex: 1;

        p {
          font-size: rem(22px);
        }
      }
    }
  }
}
