#clients {
  padding: vw(75px) vw(100px);

  .section-content {
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin: vw(105px) vw(450px);
    height: rem(450px);

    &__cards {
      display: flex;
      justify-content: center;

      &__card {
        flex: 1;

        p {
          font-size: rem(22px);
        }
      }
    }
  }
}

#more {
  padding: vw(75px) vw(100px);

  .section-content {
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin: vw(105px) vw(450px);
    height: rem(450px);

    &__cards {
      display: flex;
      justify-content: end;
      margin: vw(20px) 0;

      &__card {
        width: vw(550px);
        overflow: hidden;

        p {
          font-size: rem(22px);
        }

        &__carousel {
          display: flex;
          overflow-x: auto;
          scroll-snap-type: x mandatory;
          scroll-behavior: smooth;
          -webkit-overflow-scrolling: touch;
          scrollbar-width: none;
          -ms-overflow-style: none;

          ::-webkit-scrollbar {
            width: 0;
            background: transparent;
          }

          > div {
            margin: 0 vw(20px) 0 0;
            scroll-snap-align: start;
            flex-shrink: 0;
            width: 100%;
            height: vw(300px);
            transform-origin: center center;
            transform: scale(1);
            transition: transform 0.5s;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 100px;
          }
        }

        .slider-counter {
          margin: vw(20px) 0;
          text-decoration: none;
          font-size: rem(20px);
          color: #fff;
          background: #000;
          top: vw(-35px);
          position: relative;
          z-index: 30;

          a {
            margin-right: vw(30px);

            img {
              filter: grayscale(1);
              opacity: 0.4;
              transition: 0.3s;
            }

            &:hover {
              img {
                filter: none;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
