// Load CSS Reset from NPM
@import '~normalize.css';
@import 'variables.scss';
@import 'reset.scss';
@import 'typography.scss';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

html,
body {
  height: 100%;
  background-color: #000;
  font-family: 'Oswald', sans-serif;
  font-size: 10px;
}

body {
  background: #000;
  background-size: cover;
}

img {
  max-width: 100%;
  height: auto;
}

#main {
  width: 100%;
  height: 100vh;
  position: relative;

  #main-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: auto;
    height: 100vh;
  }
}

$gradient: url('../images/over.png') 0 0 no-repeat;

nav {
  position: absolute;
  top: rem(75px);
  left: rem(100px);
  z-index: 10;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    li {
      margin: 0;
      padding: 0;
      display: inline-flex;

      span {
        position: relative;
        display: block;
        cursor: pointer;

        &::before,
        &::after {
          content: '';
          position: absolute;
          width: 0%;
          height: 3px;
          top: 50%;
          margin-top: -0.5px;
          background: $gradient;
        }

        &::before {
          left: -2.5px;
        }

        &::after {
          right: 2.5px;
          background: $gradient;
          transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
        }

        &:hover::before {
          background: $gradient;
          width: 100%;
          transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
        }

        &:hover::after {
          background: transparent;
          width: 100%;
          transition: 0s;
        }
      }

      a {
        font-family: 'grotzec_headlinebold_cnd', sans-serif;
        font-size: rem(14.91px);
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 2.5;
        letter-spacing: 0.4rem;
        font-weight: 700;
      }
    }
  }
}

footer {
  font-family: 'grotzec_headlinebold_cnd', sans-serif;
  font-size: rem(14.91px);
  width: calc(100vw - 20rem);
  position: absolute;
  bottom: rem(75px);
  left: rem(100px);
  display: flex;
  justify-content: space-between;
  z-index: 10;
  color: color('white');
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#home {
  .colorslider {
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    border: 1px solid #fff;
    z-index: 10;
    top: 65%;
    transform: translateY(-50%);
    right: rem(100px);

    .range {
      display: block;
      width: 303px;
      transform: rotate(-90deg);
      transform-origin: left;
    }
  }

  .intro {
    position: absolute;
    top: rem(445px);
    left: rem(100px);
    z-index: 10;

    &__img-holder {
      &--logo {
        position: absolute;
        bottom: -90px;
        left: 0;
      }
    }
  }

  .effect {
    position: absolute;
    top: rem(445px);
    left: rem(650px);
    z-index: 10;
    mix-blend-mode: overlay;
  }
}

/* SLIDER */
input[type='range'] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: url('../images/colorbar.png') 0 0 no-repeat;
  border-radius: 0;
}

input[type='range']::-webkit-slider-thumb {
  box-shadow: none;
  border: 0 solid #000;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #fff;
  cursor: grabbing;
  -webkit-appearance: none;
  margin-top: -10px;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  //background: url('../images/colorbar.png') 0 0 no-repeat;
}
