// Load CSS Reset from NPM
@import '~normalize.css';
@import 'variables.scss';
@import 'reset.scss';
@import 'typography.scss';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import 'animation.scss';
@import 'info.scss';
@import 'contato.scss';

html,
body {
  background-color: #000;
  height: 100%;
  font-family: 'Oswald', sans-serif;
  font-size: 10px;
}

body {
  background: #000;
  color: color('white');

  &.body-invert {
    background: color('white');
    color: #000;

    nav ul li span a {
      color: #000;
    }

    nav .img-logo-made {
      filter: invert(1);
    }

    footer {
      color: #000;

      img {
        filter: invert(1);
      }
    }
  }

  &.body.modal-opened {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
  height: auto;
}

#main {
  width: 100%;
  height: 100vh;
  position: relative;

  #main-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: auto;
  }
}

$gradient: url('../images/over.png') 0 0 no-repeat;

nav {
  position: absolute;
  top: vw(75px);
  left: vw(100px);
  z-index: 10;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    li {
      margin: 0;
      padding: 0;
      display: inline-flex;
      opacity: 0;

      &:nth-child(1) {
        animation-delay: 2s;
      }

      &:nth-child(2) {
        animation-delay: 2.5s;
      }

      &:nth-child(3) {
        animation-delay: 3s;
      }

      &:nth-child(4) {
        animation-delay: 3.5s;
      }

      span {
        position: relative;
        display: block;
        cursor: pointer;

        &::before,
        &::after {
          content: '';
          position: absolute;
          width: 0%;
          height: 3px;
          top: 50%;
          margin-top: -0.5px;
          background: $gradient;
        }

        &::before {
          left: -2.5px;
        }

        &::after {
          right: 2.5px;
          background: $gradient;
          transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
        }

        &.current::before,
        &:hover::before {
          background: $gradient;
          width: 100%;
          transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
        }

        &.current::after,
        &:hover::after {
          background: transparent;
          width: 100%;
          transition: 0s;
        }
      }

      a {
        font-family: 'grotzec_headlinebold_cnd', sans-serif;
        font-size: rem(14.91px);
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 2.5;
        letter-spacing: 0.4rem;
        font-weight: 700;
      }
    }
  }

  .img-logo-made {
    margin-top: rem(20px);
  }
}

footer {
  font-family: 'grotzec_headlinebold_cnd', sans-serif;
  font-size: rem(14.91px);
  width: calc(100vw - 20rem);
  position: absolute;
  bottom: rem(75px);
  left: rem(100px);
  display: flex;
  justify-content: space-between;
  z-index: 10;
  color: color('white');
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;

  .img-slogan {
    margin: 0;
    text-align: right;
    position: fixed;
    right: vw(100px);
  }
}

#home {
  .colorslider {
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    border: 1px solid #fff;
    z-index: 10;
    top: 65%;
    transform: translateY(-50%);
    right: rem(100px);

    .range {
      display: block;
      width: 303px;
      transform: rotate(-90deg);
      transform-origin: left;
    }
  }

  .intro {
    position: absolute;
    top: rem(445px);
    left: rem(100px);
    z-index: 10;

    &__img-holder {
      opacity: 0;

      &--logo {
        position: absolute;
        bottom: -90px;
        left: 0;
      }
    }
  }

  .effect {
    position: absolute;
    top: rem(445px);
    left: rem(650px);
    z-index: 10;
    mix-blend-mode: overlay;
  }
}

#info {
  padding: vw(75px) vw(100px);

  .images-holder {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: vw(850px);

    a {
      color: #fff;
      transition: 0.3s;

      &:hover {
        opacity: 0.6;
      }
    }

    &__card {
      margin: vw(120px) vw(25px) 0;

      .border {
        display: block;
        width: 100%;
        height: 7px;
        background-size: cover;

        &.left {
          background: url('../images/bar-left.png') 0 0 no-repeat;
        }

        &.right {
          background: url('../images/bar-right.png') 0 0 no-repeat;
        }
      }

      &__title-holder {
        margin-top: rem(25px);
        text-align: left;
        font-family: 'grotzec_headlinebold_cnd', sans-serif;
        text-transform: uppercase;

        span {
          display: block;
        }

        &--title {
          font-size: rem(35.32px);
        }

        &--subtitle {
          font-size: rem(18.61px);
        }
      }

      &__button-holder {
        margin-top: vw(20px);
      }
    }
  }
}

#made-chameleon {
  padding: rem(75px) rem(100px);

  .images-container {
    display: flex;
    height: 100%;

    .animation {
      position: relative;
      margin: auto;
      width: 650px;
      height: 355px;
    }
  }

  .images-container img {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 12s;
  }

  @-webkit-keyframes fade {
    0% {
      opacity: 0;
    }

    20% {
      opacity: 1;
    }

    33% {
      opacity: 1;
    }

    53% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }

    20% {
      opacity: 1;
    }

    33% {
      opacity: 1;
    }

    53% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }

  .step-1 {
    // test
  }

  .step-2 {
    -webkit-animation-delay: -8s;
  }

  .step-3 {
    -webkit-animation-delay: -4s;
  }
}

/* SLIDER */
input[type='range'] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: url('../images/colorbar.png') 0 0 no-repeat;
  border-radius: 0;
}

input[type='range']::-webkit-slider-thumb {
  box-shadow: none;
  border: 0 solid #000;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #fff;
  cursor: grabbing;
  -webkit-appearance: none;
  margin-top: -10px;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  //background: url('../images/colorbar.png') 0 0 no-repeat;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  transition: 0.4s;
  visibility: hidden;
  opacity: 0;

  &.opened {
    opacity: 1;
    visibility: visible;
  }

  &__background {
    background-color: #000;
    opacity: 0.85;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 101;
  }

  &__content {
    width: vw(680px);
    color: #fff;
    position: relative;
    left: 50%;
    top: 0;
    transform: translate(-50%, 50%);
    z-index: 103;

    h2 {
      font-family: 'grotzec_headlinebold_cnd', sans-serif;
      text-transform: uppercase;
      font-size: rem(29.62px);
    }

    &__wrapper {
      height: rem(350px);
      overflow: auto;

      p {
        font-family: 'grotzec_headlinebold_cnd', sans-serif;
        text-transform: uppercase;
        font-size: rem(19px);
        width: 99%;
      }
    }
  }
}

nav,
footer {
  position: fixed;
}

.arrow-down {
  position: absolute;
  bottom: 5.5vw;
  left: 50%;
}

.video-container {
  position: relative;
  left: 0;
  top: 0;
  z-index: 5;
}

@import 'responsive.scss';
